<div class="container">
    <div class="row">
        <table class="table table-black table-striped">
            <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
            </thead>
            <tbody>
                <th>hola</th>
                <th>gggf</th>
                <th>gfgf</th>
            </tbody>
        </table>
    </div>

    <div class="row">
        <p class="text-end" style="color:black">$900</p>
    </div>

    <div class="row">
        <div class="text-end">
            <button>Comprar</button>
            <form>
                <input type="button" value="Comprar" onclick="msg()">
            </form>

            <script>
                function msg() {
                  alert("Hello world!");
                }
            </script>
        </div> 
    </div>  

</div>
